html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	overflow-x: hidden;
}

html {
	height: 100%;
}

body {
	font-family: "Helvetica Neue Roman";
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #353535;
	background-color: #fff;
	min-height: 100%;
	height: auto;
	position: relative;
}

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

a {
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	color: #38b7ea;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 15px;
}

img {
	max-width: 100%;
}

label,
button,
[type=submit] {
	cursor: pointer;
	outline: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

header {
	height: 45px;
}

header .wrap {
	height: 100%;
}

header .search-control {
	position: absolute;
	top: 6px;
	left: 8px;
	line-height: 1;
	padding: 5px;
	cursor: pointer;
}

header .search-control i {
	font-size: 15px;
	color: #6f6f6f;
}

header .head-logo {
	width: 100px;
	padding-top: 6px;
	line-height: 0;
	margin: 0 auto;
}

header #header-form {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 100%;
	background-color: #fff;
	padding: 0 95px 12px 12px;
}

header #header-form [type=text] {
	font-size: 15px;
	line-height: 20px;
	display: block;
	text-align: left;
	outline: 0;
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	padding: 7px 12px;
	color: #424242;
	background-color: #f7f7f7;
	border: 0;
	border-bottom: 1px solid #e8e8e8;
	border-radius: 3px;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

header #header-form [type=text]::-webkit-input-placeholder {
	color: #353535;
}

header #header-form [type=text]:-moz-placeholder {
	color: #353535;
}

header #header-form [type=text]::-moz-placeholder {
	color: #353535;
}

header #header-form [type=text]:-ms-input-placeholder {
	color: #353535;
}

header #header-form [type=text]:focus {
	background-color: whitesmoke;
	border-color: #dbdbdb;
	color: #353535;
}

header #header-form [type=submit] {
	font-size: 15px;
	padding: 0 16px;
	position: absolute;
	top: 0;
	right: 12px;
	z-index: 5;
	color: #fff;
	background-color: #66a524;
	border-radius: 3px;
	line-height: 33px;
	border: 0;
	border-bottom: 1px solid #5c9420;
}

#btn-menu {
	position: absolute;
	top: 10px;
	right: 8px;
	cursor: pointer;
	padding: 4px;
}

#btn-menu span {
	display: block;
	position: relative;
	background-color: #6c6c6c;
	width: 16px;
	height: 2px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#btn-menu span:nth-child(2) {
	margin: 3px 0;
}

.sb-active #btn-menu span:first-child {
	top: 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sb-active #btn-menu span:last-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sb-active #btn-menu span:nth-child(2) {
	margin: 0;
	height: 0;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

#menu .adnroin-v a,
#menu .main-nav a {
	display: block;
	position: relative;
	color: #353535;
}

#menu .adnroin-v a:hover,
#menu .main-nav a:hover,
#menu .adnroin-v a:active,
#menu .main-nav a:active {
	color: #66a524;
	text-decoration: none;
}

#menu {
	position: absolute !important;
	width: 180px;
	margin: 0;
	padding: 5px 5px 5px 8px;
	border-left: 2px solid #e8e8e8;
	background-color: #fff;
}

#menu .auth-content {
	line-height: 1;
	margin-bottom: 9px;
}

#menu .auth-content .link-reg {
	margin-top: 4px;
}

#menu .adnroin-v {
	padding: 5px 0;
	margin-bottom: 3px;
}

#menu .adnroin-v ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu .adnroin-v li + li {
	margin-top: 5px;
}

#menu .adnroin-v a {
	padding-left: 24px;
	font-size: 12px;
}

#menu .adnroin-v a i {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 18px;
	margin-right: 10px;
}

#menu .main-nav {
	padding: 10px 0;
}

#menu .main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu .main-nav li + li {
	margin-top: 10px;
}

#menu .main-nav a {
	line-height: 30px;
	white-space: nowrap;
	padding-left: 40px;
	font-size: 13px;
}

#menu .main-nav a i {
	position: absolute;
	top: 50%;
	left: 9px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #ebebeb !important;
}

#menu .main-nav a:active:before {
	content: '';
	height: 30px;
	width: 29px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -171px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 0;
}

#menu .main-nav a.active:before {
	content: '';
	height: 30px;
	width: 29px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -171px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 0;
}

#menu .main-nav a:before {
	content: '';
	height: 30px;
	width: 30px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -201px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 0;
}

#menu .main-nav a.games:after {
	content: '';
	height: 11px;
	width: 14px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -85px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 8px;
}

#menu .main-nav a.design:after {
	content: '';
	height: 13px;
	width: 14px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -72px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 8px;
}

#menu .main-nav a.top:active i {
	color: #66a524 !important;
}

#menu .main-nav a.top:active:after {
	border-color: #66a524;
}

#menu .main-nav a.top i {
	left: 10px;
	top: 7px;
	color: #4d4d4d !important;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

#menu .main-nav a.top:before {
	content: none;
}

#menu .main-nav a.top:after {
	content: '';
	width: 27px;
	height: 27px;
	position: absolute;
	top: 0;
	left: 2px;
	border-radius: 13px;
	border: 1px solid #4d4d4d;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.wrap {
	max-width: 600px;
	position: relative;
	margin: 0 auto;
	padding-left: 13px;
	padding-right: 13px;
}

.border-top {
	border-top: 2px solid #e8e8e8;
}

.animate-in {
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-ms-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
}

.main-content {
	overflow: hidden;
	padding-top: 17px;
}

.icon-list {
	font-family: "Helvetica Neue Medium";
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 15px 0 8px;
}

.icon-list li {
	margin-right: 24px;
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: top;
}

.icon-box {
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
	position: relative;
	color: #7b7b7b;
}

.icon-box i {
	margin-right: 7px;
}

.icon-box.date {
	padding-left: 16px;
}

.icon-box.date:before {
	content: '';
	height: 14px;
	width: 13px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -22px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 0;
}

.icon-box.view {
	padding-left: 22px;
}

.icon-box.view:before {
	content: '';
	height: 9px;
	width: 17px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -285px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 0;
}

.icon-box.stats {
	padding-left: 18px;
}

.icon-box.stats:before {
	content: '';
	height: 10px;
	width: 11px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -275px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 0;
}

#sb-site {
	background-color: #fff;
}

.item-grid {
	overflow: hidden;
}

.item-grid.sm {
	margin: -2px;
}

.item-grid.sm .item {
	padding: 2px;
	width: 57px;
	height: 57px;
}

.item-grid a {
	display: block;
	height: 100%;
}

.item-grid .item {
	overflow: hidden;
}

.games-container {
	overflow: hidden;
	padding: 17px 0 0;
}

.pre-animate {
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.game-container {
	overflow: hidden;
	padding-top: 17px;
}

.game-container:first-child,
.title-line + .game-container {
	border: 0;
	padding: 0;
}

.game-container .info-game {
	overflow: hidden;
	position: relative;
	padding-right: 65px;
	margin-bottom: 15px;
	min-height: 60px;
}

.game-container .info-game .icon-box {
	width: 66px;
	height: 66px;
	margin-right: 18px;
	line-height: 0;
	overflow: hidden;
	border-radius: 6px;
}

.game-container .info-game .title-line.main {
	color: #000;
	margin-bottom: 14px;
	overflow: hidden;
}

.game-container .info-game .rating-val {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
}

.game-container .info-game .rating-val span {
	position: absolute;
	top: 50%;
	right: 0;
	line-height: 1;
	color: #66a524;
	margin-top: -7px;
	font-family: "Helvetica Neue Medium";
	font-size: 14px;
	font-weight: normal;
}

.game-container .info-game .rating-val i {
	position: absolute;
	top: 5px;
	right: 0;
	font-size: 33px;
	text-align: center;
	line-height: 49px;
	width: 49px;
	height: 49px;
	color: #c3c3c3;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
}

.game-container .info-game .cat-path {
	font-size: 12px;
	line-height: 1;
	list-style: none;
	padding: 0;
	margin: 0;
}

.game-container .info-game .cat-path li {
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}

.game-container .info-game .cat-path li.main {
	color: #7b7b7b;
}

.game-container .info-game .cat-path li:last-child a i {
	display: none;
}

.game-container .info-game .cat-path a {
	color: #000;
	text-decoration: none;
}

.game-container .info-game .cat-path a:hover,
.game-container .info-game .cat-path a:active {
	color: #38b7ea;
}

.game-container .info-game .cat-path a i {
	margin-left: 6px;
}

.game-container .info-img {
	width: 100%;
	line-height: 0;
	overflow: hidden;
	margin-bottom: 20px;
	clear: both;
}

.game-container .info-img img {
	width: 100%;
}

.game-container .info-img.fl,
.game-container .info-img.fr {
	width: 60%;
	max-width: 320px;
}

.game-container .info-img.fr {
	margin-left: 15px;
}

.game-container .info-img.fl {
	margin-right: 15px;
}

.game-container .info-download {
	overflow: hidden;
	padding-bottom: 10px;
}

.scale-list {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}

.scale-list label {
	display: block;
	position: relative;
	line-height: 0;
	width: 19px;
	height: 22px;
}

.scale-list label:before {
	content: '';
	height: 22px;
	width: 19px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -253px no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -10px;
}

.scale-list label.active:before {
	content: '';
	height: 22px;
	width: 19px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -231px no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -10px;
}

.scale-list input {
	position: absolute;
	left: -9999px;
}

.scale-list input:checked + label:before {
	content: '';
	height: 22px;
	width: 19px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -231px no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -10px;
}

.scale-list li {
	position: relative;
	float: left;
}

.scale-list li + li {
	margin-left: 8px;
}

.news-container {
	overflow: hidden;
	padding-top: 15px;
	margin: 0 -5px;
}

.news-container .title-line {
	margin-left: 5px;
}

.news-container .news-box {
	width: 33.33333%;
	padding: 0 5px;
	height: 115px;
	margin-bottom: 10px;
}

.news-container .news-box .img-news {
	text-align: center;
	height: 90px;
	line-height: 0;
	overflow: hidden;
}

.news-container .news-box .img-news img {
	width: 100%;
}

.news-container .news-box .img-news a:hover,
.news-container .news-box .img-news a:active {
	text-decoration: none;
	opacity: .8;
}

.news-container .news-box .news-link {
	font-size: 14px;
	display: block;
	padding: 10px 0;
	line-height: 1;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #000;
}

.news-container .news-box .news-link:hover,
.news-container .news-box .news-link:active {
	text-decoration: none;
}

.usr-comments {
	overflow: hidden;
	padding-top: 22px;
}

.usr-comments .title-line {
	margin-bottom: 19px;
}

.usr-comments h1,
.usr-comments h2,
.usr-comments h3 {
	display: inline-block;
}

.usr-comments .mrk {
	display: inline-block;
	margin: 0 10px;
}

.usr-comments .mrk.pl {
	color: #66a524;
}

.usr-comments .mrk.nm {
	color: #4e4e4e;
}

.usr-comments .mrk.mn {
	color: #ae1c1c;
}

.usr-comments .comm-box {
	overflow: hidden;
	padding: 15px 10px;
	margin-bottom: 8px;
}

.usr-comments .comm-box .clr {
	color: #b4b4b4;
}

.usr-comments .comm-box.pl {
	background-color: #e4ffce;
}

.usr-comments .comm-box.pl .clr {
	color: #7f9b69;
}

.usr-comments .comm-box.mn {
	background-color: #ffe5e5;
}

.usr-comments .comm-box.mn .clr {
	color: #a68080;
}

.usr-comments .comm-box .ava-box {
	overflow: hidden;
	line-height: 0;
	margin-top: 3px;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	border-radius: 50%;
}

.usr-comments .comm-box .text-box {
	overflow: hidden;
}

.usr-comments .comm-box .text-box .name-line {
	font-size: 12px;
	line-height: 1;
	margin-bottom: 5px;
}

.usr-comments .comm-box .text-box .text-line {
	line-height: 18px;
	color: #363636;
	margin-bottom: 10px;
}

.usr-comments .comm-box .text-box .date-line {
	font-size: 10px;
	line-height: 1;
}

.form-content {
	overflow: hidden;
	padding: 35px 0 0;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

footer {
	min-height: 200px;
	padding: 63px 0 20px;
}

footer .wrap:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -63px;
	left: 0;
	opacity: .55;
	background: url(../css/img/bg/design.png) no-repeat 0 33px;
	background-size: contain;
}

footer .foot-content {
	text-align: center;
}

footer .foot-content a {
	display: inline-block;
	vertical-align: top;
}

footer .foot-content a:hover,
footer .foot-content a:active {
	text-decoration: none;
}

footer .main-links {
	position: relative;
	margin-bottom: 30px;
}

footer .main-links a {
	font-size: 12px;
	position: relative;
	padding-top: 44px;
	color: #000;
}

footer .main-links a.f-map:before {
	content: '';
	height: 24px;
	width: 30px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -147px no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 0;
}

footer .main-links a.f-mail:before {
	content: '';
	height: 21px;
	width: 30px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -126px no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 0;
}

footer .main-links a.f-copy:before {
	content: '';
	height: 22px;
	width: 22px;
	background: url('img/sprite-s1430bb6ec8.png') 0 0 no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -11px;
	top: 0;
}

footer .main-links a:hover,
footer .main-links a:active {
	opacity: .65;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden;
}

#sb-site,
.sb-site-container {
	width: 100%;
	position: relative;
	z-index: 1;
}

.sb-slidebar {
	height: 100%;
	overflow-y: auto;
	position: fixed;
	top: 0;
	z-index: 0;
	display: none;
	-webkit-transform: translate(0px);
}

.sb-left {
	left: 0;
}

.sb-right {
	right: 0;
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute;
}

.sb-slidebar.sb-active {
	display: block;
}

.sb-style-overlay {
	z-index: 9999;
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch;
}

.sb-slide,
#sb-site,
.sb-site-container,
.sb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right;
	-webkit-backface-visibility: hidden;
}

.sb-hide {
	display: none;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.btn-download,
.link-round,
.link-log,
.link-reg,
.link-msg,
.link-btn-bg,
.link-trnsp {
	display: inline-block;
	position: relative;
}

.btn-download:active,
.link-round:active,
.link-log:active,
.link-reg:active,
.link-msg:active,
.link-btn-bg:active,
.link-trnsp:active,
.btn-download:hover,
.link-round:hover,
.link-log:hover,
.link-reg:hover,
.link-msg:hover,
.link-btn-bg:hover,
.link-trnsp:hover {
	text-decoration: none;
}

.btn-download {
	font-size: 16px;
	line-height: 22px;
	border-radius: 24px;
	text-align: center;
	padding: 4px 42px 4px 63px;
	min-height: 53px;
	color: #fff;
	background-color: #38b7ea;
}

.btn-download:before {
	content: '';
	height: 21px;
	width: 16px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -51px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 22px;
}

.btn-download:active,
.btn-download:hover {
	background-color: #21afe8;
	box-shadow: inset 0 -2px 0 0 #1389b8;
}

.btn-download:active:before,
.btn-download:hover:before {
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

.link-log,
.link-reg {
	color: #fff;
	background-color: #474747;
	padding: 0 10px;
}

.link-log:hover,
.link-reg:hover,
.link-log:active,
.link-reg:active {
	background-color: #000;
}

.link-round {
	font-size: 13px;
	padding: 0 16px;
	line-height: 33px;
	border-radius: 15px;
}

.link-round i {
	margin-right: 11px;
}

.link-round.grn {
	color: #fff;
	background-color: #66a524;
}

.link-round:hover,
.link-round:active {
	opacity: .9;
}

.link-round:hover i,
.link-round:active i {
	-webkit-transform: translateX(1px);
	-moz-transform: translateX(1px);
	-ms-transform: translateX(1px);
	-o-transform: translateX(1px);
	transform: translateX(1px);
}

.link-log {
	font-family: "Helvetica Neue Bold";
	font-size: 13px;
	font-weight: normal;
	border-radius: 15px;
	line-height: 31px;
}

.link-log i {
	margin-right: 5px;
}

.link-reg {
	font-family: "Helvetica Neue Medium";
	font-size: 12px;
	font-weight: normal;
	line-height: 23px;
	border-radius: 11px;
}

.link-msg {
	font-size: 14px;
	line-height: 39px;
	color: #fff;
	background-color: #38b7ea;
	border-radius: 3px;
	padding-left: 39px;
	padding-right: 11px;
}

.link-msg:before {
	content: '';
	height: 12px;
	width: 20px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -114px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 10px;
}

.link-msg:active,
.link-msg:hover {
	background-color: #21afe8;
	box-shadow: inset 0 -2px 0 0 #1389b8;
}

.link-btn-bg {
	text-align: center;
	overflow: hidden;
	color: #fff;
	width: 226px;
	height: 65px;
	background: url("../css/img/bg/btn.png") no-repeat 0 0;
	border-radius: 31px;
}

.link-trnsp {
	font-size: 16px;
	line-height: 41px;
	color: #272727;
	background-color: transparent;
	border: 1px solid #c7c7c7;
	border-radius: 18px;
	padding: 0 23px;
}

.link-trnsp.download-drk {
	padding-left: 42px;
}

.link-trnsp.download-drk:before {
	content: '';
	height: 15px;
	width: 10px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -36px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 23px;
}

.link-trnsp.gplay {
	padding-left: 50px;
}

.link-trnsp.gplay:before {
	content: '';
	height: 18px;
	width: 16px;
	background: url('img/sprite-s1430bb6ec8.png') 0 -96px no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: 24px;
}

.link-trnsp:active,
.link-trnsp:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.title-line.md,
.title-line.sm {
	color: #202020;
	margin-bottom: 10px;
}

.title-line {
	text-align: left;
}

.title-line.main {
	font-size: 30px;
	line-height: 34px;
	color: #242424;
	margin-bottom: 22px;
}

.title-line.md {
	font-size: 24px;
	line-height: 28px;
}

.title-line.sm {
	font-size: 18px;
	line-height: 22px;
}

.title-line.medium {
	color: #000;
	font-family: font(medium);
	font-weight: normal;
}

.title-line.medium.lg {
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 14px;
}

.title-line h1,
.title-line h2,
.title-line h3 {
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
	color: inherit;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.pagination {
	position: relative;
	font-family: "Helvetica Neue Light";
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #000;
	clear: both;
	padding: 17px 80px;
}

.pagination a {
	padding: 0 4px;
	color: #000;
}

.pagination a:hover,
.pagination a:active {
	text-decoration: none;
}

.pagination ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.pagination li {
	margin: 0 2px;
	display: inline-block;
	vertical-align: top;
}

.pagination li.active a {
	color: #7b7b7b;
}

.pagination li.prev,
.pagination li.next {
	position: absolute;
	top: 17px;
	margin: 0;
}

.pagination li.prev a,
.pagination li.next a {
	display: block;
	border-radius: 12px;
	width: 76px;
	height: 29px;
	color: #fff;
	background-color: #bdddf0;
}

.pagination li.prev a:hover,
.pagination li.prev a:active,
.pagination li.next a:hover,
.pagination li.next a:active {
	background-color: #38b7ea;
}

.pagination li.prev {
	left: 0;
}

.pagination li.next {
	right: 0;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

form {
	display: block;
}

form.fr,
form.fl {
	width: 100%;
	max-width: 350px;
}

form p {
	font-size: 16px;
	margin-bottom: 10px;
}

.form-line {
	overflow: hidden;
	margin-bottom: 10px;
}

.form-line.captcha {
	padding-top: 11px;
	position: relative;
}

.form-line.captcha .img-control {
	overflow: hidden;
	margin-bottom: 13px;
}

.form-line.captcha input {
	width: 180px;
}

.form-line.captcha img {
	float: left;
	margin-right: 8px;
}

.form-line.captcha p,
.form-line.captcha a {
	overflow: hidden;
}

.form-line.captcha a {
	display: inline-block;
	line-height: 1;
	font-size: 12px;
	margin-bottom: 4px;
	color: #454545;
}

.form-line.captcha a:hover,
.form-line.captcha a:active {
	text-decoration: none;
}

.form-line.captcha a i {
	margin-right: 4px;
}

.form-line.captcha p {
	margin: 0;
	font-size: 11px;
	line-height: 14px;
	color: #848484;
}

.form-line.submit {
	padding-top: 10px;
	text-align: center;
}

.form-line.submit [type=submit] {
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	background-color: #38b7ea;
	line-height: 47px;
	border: 0;
	margin: 0;
	padding: 0 50px;
	border-radius: 21px;
}

.form-line.submit [type=submit]:hover,
.form-line.submit [type=submit]:active {
	background-color: #21afe8;
}

.form-el {
	font-size: 14px;
	line-height: 14px;
	display: block;
	text-align: left;
	outline: 0;
	box-sizing: border-box;
	width: 100%;
	height: 29px;
	padding: 7px 17px;
	color: #353535;
	background-color: #f5f5f5;
	border: 1px solid #f5f5f5;
	border-radius: 13px;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.form-el::-webkit-input-placeholder {
	color: #c2c2c2;
}

.form-el:-moz-placeholder {
	color: #c2c2c2;
}

.form-el::-moz-placeholder {
	color: #c2c2c2;
}

.form-el:-ms-input-placeholder {
	color: #c2c2c2;
}

.form-el:focus {
	box-shadow: inset 0 0 0 1px #fff;
	background-color: #e8e8e8;
}

textarea.form-el {
	height: 112px;
	line-height: 1.1;
	padding: 8px 17px;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.main-banner {
	overflow: hidden;
	clear: both;
}

.main-banner .inner-wrap {
	margin: 0 -15px;
}

.main-banner img {
	display: block;
	width: 100%;
}

.list-links {
	font-size: 0;
	list-style: none;
	padding: 0;
	margin: 0 0 7px -14px;
}

.list-links a {
	color: #1d1d1d;
	display: block;
	position: relative;
	text-decoration: none;
	line-height: 26px;
	margin-bottom: 8px;
}

.list-links a:hover,
.list-links a.active,
.list-links a:focus {
	color: #38b7ea;
	text-decoration: none;
}

.list-links.main a {
	font-size: 24px;
}

.list-links.bordered {
	margin-left: -11px;
}

.list-links.bordered li {
	margin: 0 3px;
}

.list-links.bordered a {
	font-size: 14px;
	padding: 0 8px;
	border-radius: 2px;
	border: 1px solid transparent;
}

.list-links.bordered a:hover,
.list-links.bordered a.active,
.list-links.bordered a:focus {
	border-color: #38b7ea;
}

.list-links li {
	display: inline-block;
	vertical-align: top;
	margin: 0 14px;
}

.list-links li:hover,
.list-links li.active,
.list-links li:active {
	color: #38b7ea;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.device-info {
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.device-info .device-icon {
	overflow: hidden;
	line-height: 0;
	width: 175px;
	height: 175px;
	margin-right: 20px;
	border-radius: 6px;
}

.device-info .device-descr {
	overflow: hidden;
}

.device-info .device-descr .mark-line {
	margin-bottom: 13px;
}

.device-info .device-descr .mark-line .count-control {
	width: 70px;
	position: relative;
	z-index: 1;
	padding: 0 19px;
}

.device-info .device-descr .mark-line .count-control .quantity {
	font-size: 18px;
	color: #010101;
	background-color: transparent;
	line-height: 17px;
	display: block;
	text-align: left;
	outline: 0;
	box-sizing: border-box;
	width: 100%;
	height: 19px;
	padding: 1px 0;
	padding: 0;
	border: 0;
	margin: 0;
	text-align: center;
}

.device-info .device-descr .mark-line .count-control .btn {
	position: absolute;
	top: 0;
	width: 19px;
	height: 19px;
	cursor: pointer;
	border: 1px solid #7a7a7a;
	border-radius: 2px;
}

.device-info .device-descr .mark-line .count-control .btn.minus {
	left: 0;
}

.device-info .device-descr .mark-line .count-control .btn.plus {
	right: 0;
}

.device-info .device-descr .mark-line .count-control .btn.plus:after {
	content: '';
	width: 3px;
	height: 11px;
	position: absolute;
	top: 3px;
	left: 7px;
	background-color: #7a7a7a;
}

.device-info .device-descr .mark-line .count-control .btn:before {
	content: '';
	width: 11px;
	height: 3px;
	position: absolute;
	top: 7px;
	left: 3px;
	background-color: #7a7a7a;
}

.device-info .device-descr .msg-line {
	margin-bottom: 10px;
}

.device-info .device-descr .phone-line {
	overflow: hidden;
	padding-top: 5px;
}

.device-info .device-descr .phone-line .ph-icon {
	margin-right: 9px;
}

.device-info .device-descr .phone-line .ph-model {
	color: #000000;
	line-height: 1.1;
	margin-bottom: 11px;
}

.device-info .device-descr .phone-line .adv-model {
	font-family: "Helvetica Neue Bold";
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	color: #a0a0a0;
}

.applications-avbl {
	overflow: hidden;
	margin-bottom: 19px;
}

.applications-avbl .item a {
	overflow: hidden;
	border-radius: 3px;
}

.applications-avbl .item a:hover,
.applications-avbl .item a:active {
	opacity: .7;
}

.applications-avbl .item img {
	width: 100%;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.game-container .trailer-line {
	font-family: "Helvetica Neue Medium";
	font-size: 16px;
	font-weight: normal;
	padding: 0 20px;
	text-align: center;
	line-height: 24px;
	color: #000;
	margin: 11px auto 8px;
}

.game-container .trailer-line h1,
.game-container .trailer-line h2 {
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
	color: inherit;
	margin: 0;
	padding: 0;
}

.game-container .trailer-video {
	width: 100%;
	max-width: 440px;
	margin: 0 auto 20px;
}

.game-container .full-download {
	min-height: 115px;
	position: relative;
	padding: 14px 8px;
	background-color: #ebebeb;
	border-radius: 5px;
}

.game-container .full-download .dwn-box {
	overflow: hidden;
	text-align: center;
}

.game-container .full-download .dwn-box.left,
.game-container .full-download .dwn-box.right {
	z-index: 1;
	position: absolute;
	top: 25px;
}

.game-container .full-download .dwn-box.left .descr,
.game-container .full-download .dwn-box.right .descr {
	padding-left: 8px;
	padding-right: 8px;
}

.game-container .full-download .dwn-box.left {
	left: 8px;
}

.game-container .full-download .dwn-box.right {
	right: 8px;
}

.game-container .full-download .dwn-box.main {
	position: relative;
	z-index: 5;
	width: 226px;
	margin: 0 auto;
}

.game-container .full-download .dwn-box.main .link-btn-bg {
	font-size: 12px;
	line-height: 1;
	padding-top: 7px;
}

.game-container .full-download .dwn-box.main .link-btn-bg span {
	display: block;
	margin-bottom: 9px;
	font-size: 26px;
}

.game-container .full-download .dwn-box.main .descr {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.game-container .full-download .dwn-box .descr {
	font-family: "Helvetica Neue Medium";
	font-size: 11px;
	font-weight: normal;
	line-height: 1;
	color: #717171;
	padding-top: 10px;
	margin: 0;
}

.game-container .soc-widget {
	text-align: center;
	padding: 25px 0;
}

.game-container .usr-scale {
	overflow: hidden;
	padding: 10px 0 12px;
}

.game-container .usr-scale .icon-list {
	padding-bottom: 0;
}

.game-container .usr-scale .rate-scale {
	line-height: 1;
}

.game-container .usr-scale .rate-scale p {
	margin: 0 0 10px;
}

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.eot");
	src: local("тШ║"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/Helvetica Roman/HelveticaNeueCyr-Roman.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.eot");
	src: local("тШ║"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/Helvetica Light/HelveticaNeueCyr-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.eot");
	src: local("тШ║"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/Helvetica Medium/HelveticaNeueCyr-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.eot");
	src: local("тШ║"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/Helvetica Bold/HelveticaNeueCyr-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.error404 {
	padding-bottom: 115px;
	background: url("../css/img/bg/404.jpg") no-repeat 0 0, #207300;
	background-size: 100% 100%;
}

.error404 header .search-control i {
	color: #5ea226;
}

.error404 #header-form {
	background-color: transparent;
}

.error404 #btn-menu span {
	background-color: #5ea226;
}

.error404 footer {
	display: none;
}

.error404 .err404-line {
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.error404 .err404-line.lg {
	position: relative;
	font-size: 36px;
	line-height: 1.1;
	margin: 38px auto 22px;
}

.error404 .err404-line.lg span:not(.sep) {
	line-height: 1;
	font-size: 72px;
}

.error404 .err404-line.sm {
	font-family: "Helvetica Neue Light";
	font-size: 18px;
	line-height: 30px;
}

@media screen and (min-width: 490px) {

footer .main-links {
	padding: 0 70px;
}

}

@media screen and (max-width: 570px) {

.news-container .title-line {
	text-align: center;
}

.news-container .news-box {
	width: 180px;
	float: none !important;
	margin-left: auto;
	margin-right: auto;
}

.news-container .news-box {
	text-align: center;
	float: none !important;
	margin-bottom: 20px;
}

.game-container .full-download {
	padding-top: 110px;
}

.game-container .full-download .dwn-box.main {
	position: absolute;
	top: 10px;
	right: 0;
	left: 0;
}

.game-container .full-download .dwn-box.left,
.game-container .full-download .dwn-box.right {
	position: static;
	margin: 0 auto;
}

.game-container .full-download .dwn-box.left {
	margin-bottom: 22px;
}

.game-container .usr-scale .icon-list {
	text-align: center;
	float: none !important;
	margin-bottom: 20px;
}

.game-container .usr-scale .rate-scale {
	text-align: center;
	float: none !important;
	width: 100%;
}

.game-container .usr-scale .rate-scale .scale-list {
	display: inline-block;
}

}

@media screen and (max-width: 430px) {

.device-info {
	padding-bottom: 50px;
}

.device-info .link-msg {
	position: absolute;
	bottom: 0;
	left: 0;
}

}

@media screen and (max-width: 420px) {

.device-info .device-icon {
	padding-bottom: 50px;
	width: 130px;
	height: 130px;
}

}

@media screen and (max-width: 320px) {

.hide-xs {
	display: none !important;
}

header #header-form [type=text] {
	font-size: 14px;
}

.main-content {
	padding-top: 12px;
}

.games-container {
	padding: 12px 0 0;
}

.game-container {
	font-size: 12px;
	line-height: 18px;
}

.game-container .info-game {
	margin-bottom: 10px;
}

.game-container .info-game .icon-box {
	width: 45px;
	height: 45px;
}

.game-container .info-game .title-line.main {
	font-size: 18px;
	margin-bottom: 6px;
}

.game-container .info-game .cat-path {
	font-size: 11px;
}

.usr-comments .title-line {
	margin-bottom: 10px;
}

.usr-comments .comm-box .text-box .text-line {
	font-size: 13px;
	line-height: 17px;
}

footer {
	padding-top: 30px;
}

footer .wrap:before {
	top: -30px;
}

footer .main-links a {
	padding-top: 35px;
	line-height: 16px;
}

footer .main-links a.f-mail {
	max-width: 80px;
}

footer .main-links a {
	font-size: 11px;
}

.title-line.main {
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 19px;
}

.title-line.md {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 7px;
}

.title-line.sm {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 6px;
}

.title-line.medium.lg {
	font-size: 18px;
	line-height: 22px;
}

.pagination {
	font-size: 18px;
}

.pagination a {
	padding: 0 2px;
}

.pagination li {
	margin: 0;
}

.list-links a {
	margin-bottom: 3px;
}

.list-links.main a {
	font-size: 18px;
}

.list-links.bordered a {
	font-size: 12px;
}

.device-info .link-msg {
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	padding: 6px 7px 6px 29px;
	max-width: 110px;
}

.device-info .link-msg:before {
	left: 8px;
}

.device-info .device-icon {
	width: 110px;
	height: 110px;
	margin-right: 11px;
}

.device-info .device-descr .mark-line {
	margin-bottom: 8px;
}

.device-info .device-descr .phone-line {
	padding-top: 0;
	font-size: 13px;
}

.game-container .trailer-line {
	font-size: 15px;
	line-height: 22px;
}

.error404 .err404-line {
	padding: 0;
}

.error404 .err404-line.lg {
	width: 195px;
	padding-left: 90px;
	min-height: 48px;
	font-size: 18px;
	line-height: 24px;
}

.error404 .err404-line.lg span {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 48px !important;
}

.error404 .err404-line.lg span.sep {
	display: none;
}

.error404 .err404-line.sm {
	font-family: "Helvetica Neue Roman";
	font-size: 14px;
	line-height: 24px;
}

}

