@import '_mixins';
@import '_configurations';

%side-menu-link{
	display: block;
	position: relative;
	color: color(text);
	&:hover, &:active{
		color: color(green);
		text-decoration: none;
	}
}

#menu{
	position: absolute !important;
	width: 180px;
	margin: 0;
	padding: 5px 5px 5px 8px;
	border-left: 2px solid color(border);
	background-color: #fff;

	.auth-content{
		line-height: 1;
		margin-bottom: 9px;

		.link-reg{
			margin-top: 4px;
		}
	}

	.adnroin-v{
		padding: 5px 0;
		margin-bottom: 3px; 

		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li + li {
			margin-top: 5px;
		}

		a{
			@extend %side-menu-link;
			padding-left: 24px;
			font-size: 12px;

			i{
				@include absolute(left top 50%);
				@include prefix((
					transform: translateY(-50%)
					));
				font-size: 18px;
				margin-right: 10px;
			}

		
		}
	}

	.main-nav{
		padding: 10px 0;

		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li + li {
			margin-top: 10px;
		}

		a{
			@extend %side-menu-link;
			line-height: 30px;
			white-space: nowrap;
			padding-left: 40px;
			font-size: 13px;
			
			i{
				@include absolute(top 50% left 9px);
				@include prefix((
					transform: translateY(-50%)
					));
				color: #ebebeb !important;
			}

			&:active:before{
				@include icon-vertical($icons, menu-act, left);
			}
			&.active:before{
				@include icon-vertical($icons, menu-act, left);
			}
			&:before{
				@include icon-vertical($icons, menu, left);
			}

			&.home i{
			}
			&.games:after{
				@include icon-vertical($icons, gamepad, left 8px); 
			}
			&.soft i{
			}
			&.design:after{
				@include icon-vertical($icons, draw, left 8px); 
			}
			&.new i{
			}
			&.top{
				&:active{
					i{
						color: color(green) !important;
					}

					&:after{
						border-color: color(green);
					}
				}
				i{
					left: 10px; top: 7px;
					color: #4d4d4d !important;
					@include prefix((
						transform: none
						));
				}
				&:before{
					content: none;
				}
				&:after{
					@include content(27px);
					@include absolute(top left 2px);
					border-radius: 13px;
					border: 1px solid #4d4d4d;
				}
			}
		}
	}
}