@import '_mixins';
@import '_configurations';

html, body {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	overflow-x: hidden;
}

html {
	height: 100%;
}

body{
	@include font(family(roman) 14px normal);
	line-height: 24px;
	@include colors(color(text), #fff);
	min-height: 100%;
	height: auto;
	position: relative;
}

* {
	box-sizing: border-box;

	&:before, &:after{
		box-sizing: border-box;
	}
}

a{
	@include prefix((
		transition: all .15s linear
		));
	color: color(blue);
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

p{
	margin: 0 0 15px;
}

img{
	max-width: 100%;
}

label, button, [type=submit]{
	cursor: pointer;
	outline: 0;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.hide-xs{
	@include media(max-xs){
		display: none !important;
	}
}