//----------  CSS-URL & SPRITES  ---------

$icons: sprite-map('sprite/*.png');
$sprite-spacing: 4px;
//@import 'sprite/*.png';
$css-url: '../css/img/';

//----------  FONTS ---------

$font-url: '../fonts/';

@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url('#{$font-url}Helvetica Roman/HelveticaNeueCyr-Roman.eot');
	src: local('☺'), url('#{$font-url}Helvetica Roman/HelveticaNeueCyr-Roman.woff') format('woff'), 
	url('#{$font-url}Helvetica Roman/HelveticaNeueCyr-Roman.ttf') format('truetype'), 
	url('#{$font-url}Helvetica Roman/HelveticaNeueCyr-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url('#{$font-url}Helvetica Light/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('#{$font-url}Helvetica Light/HelveticaNeueCyr-Light.woff') format('woff'), 
	url('#{$font-url}Helvetica Light/HelveticaNeueCyr-Light.ttf') format('truetype'), 
	url('#{$font-url}Helvetica Light/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url('#{$font-url}Helvetica Medium/HelveticaNeueCyr-Medium.eot');
	src: local('☺'), url('#{$font-url}Helvetica Medium/HelveticaNeueCyr-Medium.woff') format('woff'), 
	url('#{$font-url}Helvetica Medium/HelveticaNeueCyr-Medium.ttf') format('truetype'), 
	url('#{$font-url}Helvetica Medium/HelveticaNeueCyr-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url('#{$font-url}Helvetica Bold/HelveticaNeueCyr-Bold.eot');
	src: local('☺'), url('#{$font-url}Helvetica Bold/HelveticaNeueCyr-Bold.woff') format('woff'), 
	url('#{$font-url}Helvetica Bold/HelveticaNeueCyr-Bold.ttf') format('truetype'), 
	url('#{$font-url}Helvetica Bold/HelveticaNeueCyr-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$fonts: (
	roman: 'Helvetica Neue Roman',
	light: 'Helvetica Neue Light',
	medium: 'Helvetica Neue Medium',
	bold: 'Helvetica Neue Bold'
	);

@function family($font-key, $font-map: $fonts){

	@if (map-has-key($font-map, $font-key)){
		@return map-get($font-map, $font-key)
	}

	@return 'font-family `#{$font-key}` not found';
}

//----------  MEDIA  ----------

$breakpoints: (
	max-sm: '(max-width: 600px)',
	max-xs: '(max-width: 320px)'
	);

@mixin media($breakpoint-key, $breakpoint-map: $breakpoints, $type: 'screen') {
	@if map-has-key($breakpoint-map, $breakpoint-key) {
		@media #{$type} and #{map-get($breakpoint-map, $breakpoint-key)} {
			@content;
		}
	}
	@else {
		@warn "media-query config does not contain breakpoint `#{$breakpoint-key}`.";
	}
}

//----------  COLORS  ----------

$colors: (
	green: #66a524,
	blue: #38b7ea,
	aqua: #bdddf0,
	grey: #7b7b7b,
	border: #e8e8e8,
	text: #353535
	);

@function color($color-key, $color-map: $colors){
	@if (map-has-key($color-map, $color-key)){
		@return map-get($color-map, $color-key)
	}
	@return 'Color `#{$color-key}` not found';
}