@import '_mixins';
@import '_configurations';

.device-info{
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;

	@media screen and (max-width: 430px){
		padding-bottom: 50px;

		.link-msg{
			@include absolute(left bottom);
		}
	}

	@include media(max-xs){
		.link-msg{
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			padding: 6px 7px 6px 29px;
			max-width: 110px;
			&:before{
				left: 8px;
			}
		}
	}

	.device-icon{
		overflow: hidden;
		line-height: 0;
		@include size(175px);
		margin-right: 20px;
		border-radius: 6px;

		@media screen and (max-width: 420px){
			padding-bottom: 50px;
			@include size(130px);
		}

		@include media(max-xs){
			@include size(110px);
			margin-right: 11px;
		}
	}

	.device-descr{
		overflow: hidden;

		.mark-line{
			margin-bottom: 13px;

			@include media(max-xs){
				margin-bottom: 8px;
			}

			.count-control{
				width: 70px;
				position: relative;
				z-index: 1;
				padding: 0 19px;

				.quantity{
					font-size: 18px;
					@include colors(#010101, transparent);
					@include input(19px, 17px, 0);
					padding: 0;
					border: 0;
					margin: 0;
					text-align: center;
				}

				.btn{
					@include absolute(top);
					@include size(19px);
					cursor: pointer;
					border: 1px solid #7a7a7a;
					border-radius: 2px;

					&.minus{
						left: 0;
					}

					&.plus{
						right: 0;

						&:after{
							@include content(3px, 11px);
							@include absolute(top 3px left 7px);
							background-color: #7a7a7a;
						}
					}

					&:before{
						@include content(11px, 3px);
						@include absolute(top 7px left 3px);
						background-color: #7a7a7a;
					}
				}
			}
		}

		.msg-line{
			margin-bottom: 10px;
		}

		.phone-line{
			overflow: hidden;
			padding-top: 5px;

			@include media(max-xs){
				padding-top: 0;
				font-size: 13px;
			}

			.ph-icon{
				margin-right: 9px;
			}

			.ph-model{
				color: #000000;
				line-height: 1.1;
				margin-bottom: 11px;
			}

			.adv-model{
				@include font(family(bold) 12px normal);
				line-height: 16px;
				color: #a0a0a0;
			}
		}
	}
}

.applications-avbl{
	overflow: hidden;
	margin-bottom: 19px;

	.item{
		a{
			overflow: hidden;
			border-radius: 3px;
			&:hover, &:active{
				opacity: .7;
			}
		}

		img{
			width: 100%;
		}
	}
}