@import '_mixins';
@import '_configurations';

.error404{
	padding-bottom: 115px;
	background: url('#{$css-url}bg/404.jpg') no-repeat 0 0, #207300;
	background-size: 100% 100%;

	header{
		.search-control i{
			color: #5ea226;
		}
	}

	#header-form{
		background-color: transparent;
	}

	#btn-menu span{
		background-color: #5ea226;
	}

	footer{
		display: none;
	}

	.err404-line{
		text-align: center;
		color: #fff;
		padding: 0 20px;

		@include media(max-xs){
			padding: 0;
		}

		&.lg{
			position: relative;
			font-size: 36px;
			line-height: 1.1;
			margin: 38px auto 22px;

			span:not(.sep){
				line-height: 1;
				font-size: 72px;
			}

			@include media(max-xs){
				width: 195px;
				padding-left: 90px;
				min-height: 48px;
				font-size: 18px;
				line-height: 24px;

				span{
					@include absolute(top left);
					font-size: 48px !important;

					&.sep{
						display: none;
					}
				}
			}
		}

		&.sm{
			@include font(family(light) 18px);
			line-height: 30px;

			@include media(max-xs){
				@include font(family(roman) 14px);
				line-height: 24px;
			}
		}
	}
}