@import '_mixins';
@import '_configurations';

footer{
	min-height: 200px;
	padding: 63px 0 20px;

	@include media(max-xs){
		padding-top: 30px;

		.wrap:before{
			top: -30px;
		}
	}

	.wrap:before{
		@include content(100%);
		@include absolute(top -63px left);
		opacity: .55;
		background: url(#{$css-url}bg/design.png) no-repeat 0 33px;
		background-size: contain;
	}

	.foot-content{
		text-align: center;

		a{
			@include ib(top);
			&:hover, &:active{
				text-decoration: none;
			}
		}
	}

	.main-links{
		position: relative;
		margin-bottom: 30px;

		@media screen and (min-width: 490px){
			padding: 0 70px;
		}

		a{
			font-size: 12px;
			position: relative;
			padding-top: 44px;
			color: #000;

			@include media(max-xs){
				padding-top: 35px;
				line-height: 16px;

				&.f-mail{
					max-width: 80px;
				}
			}

			&.f-map:before{
				@include icon-horizontal($icons, map, top);
			}
			&.f-mail:before{
				@include icon-horizontal($icons, mail, top);
			}
			&.f-copy:before{
				@include icon-horizontal($icons, copy, top);
			}
			&:hover, &:active{
				opacity: .65;
			}

			@include media(max-xs){
				font-size: 11px;
			}
		}
	}
}