@import '_mixins';
@import '_configurations';

form{
	display: block;

	&.fr, &.fl{
		width: 100%;
		max-width: 350px;
	}

	p{
		font-size: 16px;
		margin-bottom: 10px;
	}
}

.form-line{
	overflow: hidden;
	margin-bottom: 10px;

	&.captcha{
		padding-top: 11px;
		position: relative;

		.img-control{
			overflow: hidden;
			margin-bottom: 13px;
		}

		input{
			width: 180px;
		}

		img{
			float: left;
			margin-right: 8px;
		}

		p, a{
			overflow: hidden;
		}

		a{
			display: inline-block;
			line-height: 1;
			font-size: 12px;
			margin-bottom: 4px;
			color: #454545;
			&:hover, &:active{
				text-decoration: none;
			}

			i{
				margin-right: 4px;
			}
		}

		p{
			margin: 0;
			font-size: 11px;
			line-height: 14px;
			color: #848484;
		}
	}

	&.submit{
		padding-top: 10px;
		text-align: center;

		[type=submit]{
			font-size: 18px;
			@include ib(top);
			@include colors(#fff, #38b7ea);
			line-height: 47px;
			border: 0;
			margin: 0;
			padding: 0 50px;
			border-radius: 21px;

			&:hover, &:active{
				background-color: darken(#38b7ea, 5%);
			}
		}
	}
}

.form-el{
	font-size: 14px;
	@include input(29px, 14px, 17px);
	@include colors(color(text), #f5f5f5);
	border: 1px solid #f5f5f5;
	border-radius: 13px;
	@include prefix((
		transition: all .15s linear
		));
@include placeholder {
	color: #c2c2c2;
}

&:focus{
	box-shadow: inset 0 0 0 1px #fff;
	background-color: darken(#f5f5f5, 5%);
}
}

textarea.form-el{
	height: 112px;
	line-height: 1.1;
	padding: 8px 17px;
}