@import '_mixins';
@import '_configurations';

.wrap{
	max-width: 600px;
	position: relative;
	margin: 0 auto;
	padding:{
		left: 13px;
		right: 13px;
	}
}

.border-top{
	border-top: 2px solid color(border);
}

.animate-in{
	@include prefix((
		transition: all .6s linear
		));
}

.main-content{
	overflow: hidden;
	padding-top: 17px;

	@include media(max-xs){
		padding-top: 12px;
	}
}

.icon-list{
	@include font(family(medium) 12px normal);
	line-height: 1;
	margin: 0;
	padding: 15px 0 8px;

	li{
		margin-right: 24px;
		margin-bottom: 5px;
		@include ib(top);
	}
}

.icon-box{
	@include ib;
	line-height: 16px;
	@include relative;
	color: color(grey);

	i{
		margin-right: 7px;
	}

	&.date{
		padding-left: 16px;
		&:before{
			@include icon-vertical($icons, date, left);
		}
	}

	&.view{
		padding-left: 22px;
		&:before{
			@include icon-vertical($icons, view, left);
		}
	}

	&.stats{
		padding-left: 18px;
		&:before{
			@include icon-vertical($icons, stat, left);
		}
	}
}

#sb-site{
	background-color: #fff;
}

.item-grid{
	overflow: hidden;

	&.sm{
		margin: -2px;
		.item{
			padding: 2px;
			@include size(57px);
		}
	}

	a{
		display: block;
		height: 100%;
	}

	.item{
		overflow: hidden;
	}
}

.games-container{
	overflow: hidden;
	padding: 17px 0 0;

	@include media(max-xs){
		padding: 12px 0 0;
	}
}

.pre-animate{
	opacity: 0;
	@include prefix((
		transform: scale(0)
		))
}

.game-container{
	overflow: hidden;
	padding-top: 17px;

	@include media(max-xs){
		font-size: 12px;
		line-height: 18px;
	}

	&:first-child, .title-line + &{
		border: 0;
		padding: 0;
	}

	.info{
		&-game{
			overflow: hidden;
			position: relative;
			padding-right: 65px;
			margin-bottom: 15px;
			min-height: 60px;

			@include media(max-xs){
				margin-bottom: 10px;
			}

			.icon-box{
				@include size(66px);
				margin-right: 18px;
				line-height: 0;
				overflow: hidden;
				border-radius: 6px;

				@include media(max-xs){
					@include size(45px);
				}
			}

			.title-line.main{
				color: #000;
				margin-bottom: 14px;
				overflow: hidden;

				@include media(max-xs){
					font-size: 18px;
					margin-bottom: 6px;
				}
			}

			.rating-val{
				@include absolute(top right);
				@include size(60px, 100%);

				span{
					@include absolute(top 50% right);
					line-height: 1;
					color: color(green);
					margin-top: -7px;
					@include font(family(medium) 14px normal);
				}

				i{
					@include absolute(top 5px right);
					font-size: 33px;
					text-align: center;
					line-height: 49px;
					@include size(49px);
					color: #c3c3c3;
					border: 1px solid #c3c3c3;
					border-radius: 4px;
				}
			}

			.cat-path{
				font-size: 12px;
				line-height: 1;
				list-style: none;
				padding: 0;
				margin: 0;

				@include media(max-xs){
					font-size: 11px;
				}

				li{
					@include ib(top);
					margin-left: 4px;
					&.main{
						color: color(grey);
					}
					&:last-child a i{
						display: none;
					}
				}

				a{
					color: #000;
					text-decoration: none;
					&:hover, &:active{
						color: color(blue);
					}
					i{
						margin-left: 6px;
					}
				}
			}
		}
		&-img{
			width: 100%;
			line-height: 0;
			overflow: hidden;
			margin-bottom: 20px;
			clear: both;

			img{
				width: 100%;
			}

			&.fl, &.fr{
				width: 60%;
				max-width: 320px;
			}
			&.fr{
				margin-left: 15px;
			}
			&.fl{
				margin-right: 15px;
			}
		}
		&-download{
			overflow: hidden;
			padding-bottom: 10px;
		}
	}
}

.scale-list{
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;

	label{
		display: block;
		position: relative;
		line-height: 0;
		@include size(19px, 22px);

		&:before{
			@include icon-center($icons, rate);
		}

		&.active:before{
			@include icon-center($icons, rate-act);
		}
	}

	input{
		@include absolute(left -9999px);

		&:checked + label:before{
			@include icon-center($icons, rate-act);
		}
	}

	li{
		position: relative;
		float: left;

		+ li{
			margin-left: 8px;
		}
	}
}

.news-container{
	overflow: hidden;
	padding-top: 15px;
	margin: 0 -5px;

	.title-line{
		margin-left: 5px;

		@media screen and (max-width: 570px){
			text-align: center;
		}
	}

	.news-box{
		width: percentage(1/3);
		padding: 0 5px;
		height: 115px;
		margin-bottom: 10px;

		@media screen and (max-width: 570px){
			width: 180px;
			float: none !important;
			margin:{
				left: auto;
				right: auto;
			}
		}

		.img-news{
			text-align: center;
			height: 90px;
			line-height: 0;
			overflow: hidden;

			img{
				width: 100%;
			}

			a:hover, a:active{
				text-decoration: none;
				opacity: .8;
			}
		}

		.news-link{
			font-size: 14px;
			display: block;
			padding: 10px 0;
			line-height: 1;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #000;
			&:hover, &:active{
				text-decoration: none;
			}
		}

		@media screen and (max-width: 570px){
			text-align: center;
			float: none !important;
			margin-bottom: 20px;
		}
	}
}

.usr-comments{
	overflow: hidden;
	padding-top: 22px;

	.title-line{
		margin-bottom: 19px;

		@include media(max-xs){
			margin-bottom: 10px;
		}
	}

	h1,h2,h3{
		display: inline-block;
	}

	.mrk{
		display: inline-block;
		margin: 0 10px;
		&.pl{
			color: color(green);
		}
		&.nm{
			color: #4e4e4e
		}
		&.mn{
			color: #ae1c1c;
		}
	}

	.comm-box{
		overflow: hidden;
		padding: 15px 10px;
		margin-bottom: 8px;

		.clr{
			color: #b4b4b4;
		}

		&.pl{
			background-color: #e4ffce;
			.clr{
				color: #7f9b69;
			}
		}

		&.mn{
			background-color: #ffe5e5;

			.clr{
				color: #a68080;
			}
		}

		.ava-box{
			overflow: hidden;
			line-height: 0;
			margin-top: 3px;
			@include size(48px);
			margin-right: 10px;
			border-radius: 50%;
		}

		.text-box{
			overflow: hidden;

			.name-line{
				font-size: 12px;
				line-height: 1;
				margin-bottom: 5px;
			}

			.text-line{
				line-height: 18px;
				color: #363636;
				margin-bottom: 10px;

				@include media(max-xs){
					font-size: 13px;
					line-height: 17px;
				}
			}

			.date-line{
				font-size: 10px;
				line-height: 1;
			}
		}
	}
}

.form-content{
	overflow: hidden;
	padding: 35px 0 0;
}