@import '_mixins';
@import '_configurations';

header{
	height: 45px;
	
	.wrap{
		height: 100%;
	}

	.search-control{
		@include absolute(top 6px left 8px);
		line-height: 1;
		padding: 5px;
		cursor: pointer;

		i{
			font-size: 15px;
			color: #6f6f6f;
		}
	}

	.head-logo{
		width: 100px;
		padding-top: 6px;
		line-height: 0;
		margin: 0 auto;
	}

	#header-form{
		display: none;
		@include absolute(top 100% left 0);
		z-index: 10;
		width: 100%;
		background-color: #fff;
		padding: 0 95px 12px 12px;

		[type=text]{
			font-size: 15px;
			@include input(35px, 20px, 12px);
			@include colors(lighten(color(text), 5%), darken(#fff, 3%));
			border: 0;
			border-bottom: 1px solid color(border);
			border-radius: 3px;
			@include prefix((
				transition: all .15s linear
				));
			@include placeholder {
				color: color(text);
			}

			@include media(max-xs){
				font-size: 14px;
			}

			&:focus{
				background-color: darken(#fff, 4%);
				border-color: darken(color(border), 5%);
				color: color(text);
			}
		}
		
		[type=submit]{
			font-size: 15px;
			padding: 0 16px;
			@include absolute(top right 12px);
			z-index: 5;
			@include colors(#fff, color(green));
			border-radius: 3px;
			line-height: 33px;
			border: 0;
			border-bottom: 1px solid darken(color(green), 4%);
		}

	}
}

#btn-menu{
	@include absolute(top 10px right 8px);
	cursor: pointer;
	padding: 4px;

	span{
		display: block;
		position: relative;
		background-color: #6c6c6c;
		@include size(16px, 2px);
		@include prefix((
			transition: all .3s linear
			));

		&:nth-child(2){
			margin: 3px 0;
		}
	}

	.sb-active &{
		span{
			&:first-child{
				top: 2px;
				@include prefix((
					transform: rotate(45deg)
					));
			}

			&:last-child{
				@include prefix((
					transform: rotate(-45deg)
					));
			}

			&:nth-child(2){
				margin: 0;
				height: 0;
			}
		}
	}
}
