@import '_mixins';
@import '_configurations';

.game-container{

	.trailer-line{
		@include font(family(medium) 16px normal);
		padding: 0 20px;
		text-align: center;
		line-height: 24px;
		color: #000;
		margin: 11px auto 8px;

		@include media(max-xs){
			font-size: 15px;
			line-height: 22px;
		}

		h1, h2{
			font-family: inherit !important;
			font-size: inherit !important;
			line-height: inherit !important;
			color: inherit;
			margin: 0;
			padding: 0;
		}
	}

	.trailer-video{
		width: 100%;
		max-width: 440px;
		margin: 0 auto 20px;
	}

	.full-download{
		min-height: 115px;
		position: relative;
		padding: 14px 8px;
		background-color: #ebebeb;
		border-radius: 5px;

		.dwn-box{
			overflow: hidden;
			text-align: center;

			&.left, &.right{
				z-index: 1;
				@include absolute(top 25px);

				.descr{
					padding:{
						left: 8px;
						right: 8px;
					}
				}
			}

			&.left{
				left: 8px;
			}

			&.right{
				right: 8px;
			}

			&.main{
				position: relative;
				z-index: 5;
				width: 226px;
				margin: 0 auto;

				.link-btn-bg{
					font-size: 12px;
					line-height: 1;
					padding-top: 7px;

					span{
						display: block;
						margin-bottom: 9px;
						font-size: 26px;
					}
				}

				.descr{
					text-align: center;
					padding-left: 0;
					padding-right: 0;
				}
			}

			.descr{
				@include font(family(medium) 11px normal);
				line-height: 1;
				color: #717171;
				padding-top: 10px;
				margin: 0;
			}
		}

		@media screen and (max-width: 570px){
			padding-top: 110px;

			.dwn-box.main{
				@include absolute(top 10px left right);
			}

			.dwn-box{
				&.left, &.right{
					position: static;
					margin: 0 auto;
				}
				&.left{
					margin-bottom: 22px;
				}
			}
		}
	}

	.soc-widget{
		text-align: center;
		padding: 25px 0;
	}

	.usr-scale{
		overflow: hidden;
		padding: 10px 0 12px;

		.icon-list{
			padding-bottom: 0;

			@media screen and (max-width: 570px){
				text-align: center;
				float: none !important;
				margin-bottom: 20px;
			}
		}

		.rate-scale{
			line-height: 1;

			p{
				margin: 0 0 10px;
			}

			@media screen and (max-width: 570px){
				text-align: center;
				float: none !important;
				width: 100%;

				.scale-list{
					display: inline-block;
				}
			}
		}

	}
}