@import '_mixins';
@import '_configurations';

%btn-link{
	display: inline-block;
	position: relative;
	&:active, &:hover{
		text-decoration: none;
	}
}

.btn{
	&-download{
		font-size: 16px;
		line-height: 22px;
		@extend %btn-link;
		border-radius: 24px;
		text-align: center;
		padding: 4px 42px 4px 63px;
		min-height: 53px;
		@include colors(#fff, color(blue));
		&:before{
			@include icon-vertical($icons, download, left 22px);
		}

		&:active, &:hover{
			background-color: darken(color(blue), 5%);
			box-shadow: inset 0 -2px 0 0 darken(color(blue), 17%);
			&:before{
				@include prefix((
					transform: translateY(2px)
					));
			}
		}
	}
}

%auth-link{
	@include colors(#fff, #474747);
	padding: 0 10px;

	&:hover, &:active{
		background-color: #000;
	}
}

.link{
	&-round{
		@extend %btn-link;
		font-size: 13px;
		padding: 0 16px;
		line-height: 33px;
		border-radius: 15px;
		i{
			margin-right: 11px;
		}
		&.grn {
			@include colors(#fff, color(green));
		}
		&:hover, &:active {
			opacity: .9;
			i{
				@include prefix((
					transform: translateX(1px)
					));
			}
		}
	}

	&-log{
		@include font(family(bold) 13px normal);
		@extend %btn-link;
		@extend %auth-link;
		border-radius: 15px;
		line-height: 31px;
	
		i{
			margin-right: 5px;
		}
	}

	&-reg{
		@include font(family(medium) 12px normal);
		@extend %btn-link;
		@extend %auth-link;
		line-height: 23px;
		border-radius: 11px;
	}

	&-msg{
		font-size: 14px;
		line-height: 39px;
		@extend %btn-link;
		@include colors(#fff, color(blue));
		border-radius: 3px;
		padding-left: 39px;
		padding-right: 11px;
		&:before{
			@include icon-vertical($icons, mail-white, left 10px);
		}

		&:active, &:hover{
			background-color: darken(color(blue), 5%);
			box-shadow: inset 0 -2px 0 0 darken(color(blue), 17%);
		}
	}

	&-btn-bg{
		@extend %btn-link;
		text-align: center;
		overflow: hidden;
		color: #fff;
		@include size(226px, 65px);
		background: url('#{$css-url}bg/btn.png') no-repeat 0 0;
		border-radius: 31px;
	}

	&-trnsp{
		font-size: 16px;
		line-height: 41px;
		@extend %btn-link;
		@include colors(#272727, transparent);
		border: 1px solid #c7c7c7;
		border-radius: 18px;
		padding: 0 23px;

		&.download-drk{
			padding-left: 42px;
			&:before{
				@include icon-vertical($icons, download-black, left 23px);
			}
		}
		&.gplay{
			padding-left: 50px;
			&:before{
				@include icon-vertical($icons, gplay, left 24px);
			}
		}
		&:active, &:hover{
			background-color: rgba(#000, .05);
		}
	}
}