@import '_mixins';
@import '_configurations';

.main-banner{
	overflow: hidden;
	clear: both;

	.inner-wrap{
		margin: 0 -15px;
	}

	img{
		display: block;
		width: 100%;
	}
}

.list-links{
	font-size: 0;
	list-style: none;
	padding: 0;
	margin: 0 0 7px -14px;

	a{
		color: #1d1d1d;
		display: block;
		position: relative;
		text-decoration: none;
		line-height: 26px;
		margin-bottom: 8px;
		&:hover, &.active, &:focus{
			color: color(blue);
			text-decoration: none;
		}

		@include media(max-xs){
			margin-bottom: 3px;
		}
	}

	&.main{
		a{
			font-size: 24px;

			@include media(max-xs){
				font-size: 18px;
			}
		}
	}

	&.bordered{
		margin-left: -11px;

		li{
			margin: 0 3px;
		}
		a{
			font-size: 14px;
			padding: 0 8px;
			border-radius: 2px;
			border: 1px solid transparent;
			&:hover, &.active, &:focus{
				border-color: color(blue);
			}

			@include media(max-xs){
				font-size: 12px;
			}
		}
	}

	li{
		@include ib(top);
		margin: 0 14px;
		&:hover, &.active, &:active{
			color: color(blue);
		}
	}
}