@import '_mixins';
@import '_configurations';

.pagination{
	position: relative;
	@include font(family(light) normal 24px);
	line-height: 29px;
	color: #000;
	clear: both;
	padding: 17px 80px;

	@include media(max-xs){
		font-size: 18px;
	}

	a{
		padding: 0 4px;
		color: #000;
		&:hover, &:active{
			text-decoration: none;
		}

		@include media(max-xs){
			padding: 0 2px;
		}
	}

	ul{
		list-style: none;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	li{
		margin: 0 2px;
		@include ib(top);

		@include media(max-xs){
			margin: 0;
		}

		&.active a{
			color: color(grey);
		}

		&.prev, &.next{
			@include absolute(top 17px);
			margin: 0;
			a{
				display: block;
				border-radius: 12px;
				@include size(76px, 29px);
				@include colors(#fff, color(aqua));

				&:hover, &:active{
					background-color: color(blue);
				}
			}
		}

		&.prev{
			left: 0;
		}

		&.next{
			right: 0;
		}
	}
}