@import '_mixins';
@import '_configurations';

// ---------- Slidebars CSS -------------//

html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden;
}

#sb-site, .sb-site-container {
	width: 100%;
	position: relative;
	z-index: 1;
}

.sb-slidebar {
	height: 100%;
	overflow-y: auto; 
	position: fixed;
	top: 0;
	z-index: 0;
	display: none;
	-webkit-transform: translate(0px);
}

.sb-left {
	left: 0;
}

.sb-right {
	right: 0;
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute;
}

.sb-slidebar.sb-active {
	display: block;
}

.sb-style-overlay {
	z-index: 9999;
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch;
}

 .sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
 	-webkit-transition: -webkit-transform 400ms ease;
 	-moz-transition: -moz-transform 400ms ease;
 	-o-transition: -o-transform 400ms ease;
 	transition: transform 400ms ease;
 	-webkit-transition-property: -webkit-transform, left, right; 
 	-webkit-backface-visibility: hidden;
 }

 .sb-hide { 
 	display: none; 
 }