@import '_mixins';
@import '_configurations';


%sml-ttls{
	color: #202020;
	margin-bottom: 10px;
}

.title-line{
	text-align: left;

	&.main{
		font-size: 30px;
		line-height: 34px;
		color: #242424;
		margin-bottom: 22px;

		@include media(max-xs){
			font-size: 21px;
			line-height: 25px;
			margin-bottom: 19px;
		}
	}

	&.md{
		font-size: 24px;
		line-height: 28px;
		@extend %sml-ttls;

		@include media(max-xs){
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 7px;
		}
	}

	&.sm{
		font-size: 18px;
		line-height: 22px;
		@extend %sml-ttls;

		@include media(max-xs){
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 6px;
		}
	}

	&.medium{
		color: #000;
		@include font(font(medium) normal);

		&.lg{
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 14px;

			@include media(max-xs){
				font-size: 18px;
				line-height: 22px;
			}
		}
	}

	h1, h2, h3{
		font-family: inherit !important;
		font-size: inherit !important;
		line-height: inherit !important;
		color: inherit;
		margin: 0;
		padding: 0;
	}
}